<footer class='site-footer'>
    <div class='container'>
        <div class='row'>
            <div class='col-sm-12 col-md-6'>
                <h6>Chất lượng & phục vụ</h6>
                <p class='text-justify'>HCHShop đảm bảo chất lượng cho tất cả
                    sản phẩm bán tại Store MWC bằng chính sách bảo hành vĩnh
                    viễn. MWC cam kết chất lượng phục vụ tốt nhất, chuyên nghiệp
                    nhất cho mọi khách hàng bằng chính sách hoàn tiền và tặng
                    quà nếu nhân viên phục vụ quí khách không chu đáo.</p>
            </div>

            <div class='col-xs-6 col-md-3'>
                <h6>Thông tin</h6>
                <ul class='footer-links'>
                    <li><a href=''>> Giới thiệu về MWC</a></li>
                    <li><a href=''>> Tuyển dụng</a></li>
                    <li><a href=''>> Quy chế hoạt động</a></li>
                    <li><a href=''>> Chính sách và quy định</a></li>
                </ul>
            </div>

            <div class='col-xs-6 col-md-3'>
                <h6>FAQ</h6>
                <ul class='footer-links'>
                    <li><a href=''>> Vận chuyển</a></li>
                    <li><a href=''>> Chính sách đổi trả</a></li>
                    <li><a href=''>> Chính sách bảo hành</a></li>
                </ul>
            </div>
        </div>
        <hr />
    </div>
    <div class='container'>
        <div class='row'>
            <div class='col-md-8 col-sm-6 col-xs-12'>
                <p class='copyright-text'>Copyright &copy; 2022 All Rights
                    Reserved by
                    <a href='#'>HCHShop</a>.
                </p>
            </div>

            <div class='col-md-4 col-sm-6 col-xs-12'>
                <ul class='social-icons'>
                    <li><a class='facebook' href='https://www.facebook.com/'><i
                                class='fa-brands fa-facebook'
                            ></i></a></li>
                    <li><a class='twitter' href='https://twitter.com/'><i
                                class='fa-brands fa-twitter'
                            ></i></a></li>
                    <li><a
                            class='instagram'
                            href='https://www.instagram.com/'
                        ><i class='fa-brands fa-instagram'></i></a></li>
                    <li><a class='tiktok' href='https://www.tiktok.com/'><i
                                class='fa-brands fa-tiktok'
                            ></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>