{{!-- <head>
    <link rel='stylesheet' href='/css/headerShowProduct.css' />
    <link rel='stylesheet' href='/css/histBuy.css' />
</head> --}}
{{#section 'title'}}
    Tra cứu
{{/section}}

    <div class="main-div mt-4 mb-5">
        <div class="form-search-phonenumber mt-5">
            <div class="mb-3"><img class="lsmh" src="https://www.thegioididong.com/lich-su-mua-hang/images/i1.png" alt=""></div>
            <p>Tra cứu thông tin</p>
            <form method="post" action="lich-su-mua-hang/show">
                <div>
                    <input name="phonenumber" type="text" id="txtphonenumber" placeholder="Nhập số điện thoại mua hàng"> <br>
                    <button type="submit" class="btn-searchP">Tiếp tục</button>
                </div>
            </form>
        </div>
    </div>
