{{#section 'title'}}
    Login
{{/section}}

<head>
    <link rel='stylesheet' href='/css/headerShowProduct.css' />
    <link rel='stylesheet' href='/css/login.css' />
</head>

  <div class="wrapper">
    <form class="form-signin" method="post" action="login/check">       
      <h2 class="form-signin-heading">Login Admin</h2>
      <input type="text" class="form-control mb-3" name="username" placeholder="User name" required="" autofocus="" />
      <input type="password" class="form-control mb-3" name="password" placeholder="Password" required=""/>      
      <button class="button-submit" type="submit">Login</button>   
    </form>
  </div>