{{#section 'title'}}
    Giới Thiệu
{{/section}}

<div
    id='banner'
    class='img-fluid'
    style='background-image: url(https://cdn2.vectorstock.com/i/1000x1000/17/91/we-are-hiring-recruitment-design-poster-vector-22551791.jpg);'
></div>
<div class='container pt-5 pb-5' style=" font-family: 'futura-REGULAR', sans-serif;">
    <div>
        <h3><u>Giới thiệu</u> về MWC</h3>
        <p>Hệ thống giày MWC chuyên thiết kế và kinh doanh các mặt hàng giày dép
            cho giới trẻ, là cấu nối cho bạn trẻ cả nước tiếp cận với xu hướng
            thời trang giày trên thế giới. "Chúng tôi mang đến sự khác biệt!" -
            Cùng với xu hướng thời trang của thế giới Hệ thống MWC đã và đang
            không ngừng đổi mới để mang đến cho các bạn trẻ các mẫu giày thời
            trang độc đáo, mới lạ, để tiên phong cho một phong cách thời trang
            mới, một phong cách biểu tượng cho giới trẻ trên cả nước.</p>
        <p>Vì thế
            <b>MWC</b>
            đang dần trở thành một cái tên quen thuộc với tất cả các bạn trẻ với
            những phong cách thời trang hoàn toàn mới lạ, khẳng định cá tính của
            chính mình.</p>
        <p>Thành lập hơn 10 năm với hệ thống hơn 73 cửa hàng trong Tp. hcm và
            các tỉnh Đông và Tây nam bộ.</p>
        <p>
            <span style='font-family:arial,helvetica,sans-serif;'>
                <em>Sự hài lòng của các bạn chính là mục tiêu phấn đấu của chúng
                    tôi.</em>
            </span>
        </p>
    </div>
    <hr />
    <div class='pt-4'>
        <h3><u>Thông tin</u> tuyển dụng</h3>
        <p>Với tầm nhìn toàn cầu, Biti's hướng đến trở thành thương hiệu hàng
            đầu Châu Á, nâng niu hành trình hành phúc của mọi người, mọi loài.
            Biti's - "Nâng niu bàn chân Việt" đại diện cho những giá trị Việt,
            xác lập một Thương hiệu giày dép Proudly Made in Vietnam, tôn vinh
            và lan tỏa những giá trị ấy đến với cộng đồng trong nước và toàn thế
            giới.</p>
        <p>Biti's đang từng bước xây dựng cộng đồng làm việc, học tập hành phúc
            và hiệu quả. Biti’s mang đến cơ hội cho các bạn trẻ có tư duy mở,
            nhiệt huyết, trách nhiệm, tinh thần học hỏi, và cải tiến liên tục,
            hướng đến việc đóng góp, xây dựng những giá trị tốt đẹp cho cộng
            đồng, xã hội.</p>
        <p>
            <span style='font-size: 12pt;'><strong>Mọi thắc mắc vui lòng liên
                    hệ:</strong>&nbsp;
            </span>
            <br />
            <span style='font-size: 12pt;'><strong>Email: hieub1910376</strong><strong
                ><span style='color: rgb(255, 0, 0);'><a
                            style='color: rgb(255, 0, 0);'
                            href='mailto:nhansu@bitis.com.vn'
                        >@student.ctu.edu.vn</a></span></strong>
            </span>
            <br />
            <span style='font-size: 12pt;'><strong>SĐT:</strong>&nbsp;(0907)
                580331
            </span>
        </p>
    </div>
    <div>
        <h3><u>Vị trí</u> tuyển dụng</h3>
        <div>
            <h3
                class='job-name'
                data-bs-toggle='collapse'
                href='#collapseExample'
                role='button'
                aria-expanded='false'
                aria-controls='collapseExample'
            >
                <span style='color: #034EA1;'>01</span>
                <span style='font-size: 18px;'>SYSTEM ADMINISTRATOR</span>
            </h3>
            <div class='card card-body collapse' id='collapseExample'>
                <p><strong><u>Nhiệm vụ chính</u></strong></p>
                <p>- Quản trị hệ thống mạng công ty;</p>
                <p>- Tham gia dự án về hạ tầng mạng của công ty;</p>
                <p>- Tiếp nhận yêu cầu công việc từ TeamLeader;</p>
                <p>- Báo báo tiến độ thực hiện các hạng mục thực hiện;</p>
                <p>- Thực hiện một số công việc khác theo yêu cầu của cấp trên.</p>
                <p><strong><u>Yêu cầu vị trí</u></strong></p>
                <p><strong><u>Quyền lợi</u></strong></p>
            </div>
        </div>
        <div>
            <h3
                class='job-name'
                data-bs-toggle='collapse'
                href='#collapseExample2'
                role='button'
                aria-expanded='false'
                aria-controls='collapseExample'
            >
                <span style='color: #034EA1;'>02</span>
                <span style='font-size: 18px;'>JUNIOR BACKEND DEVELOPER</span>
            </h3>
            <div class='card card-body collapse' id='collapseExample2'>
                <p><strong><u>Nhiệm vụ chính</u></strong></p>
                <p>- Lập trình Back-end cho hệ thống BITIS với nhiều dự án;</p>
                <p>- Xây dựng cấu trúc cơ sở dữ liệu phù hợp yêu cầu dự án;</p>
                <p>- Xây dựng APIs sử dụng NodeJS;</p>
                <p>- Optimize, maintain dự án;</p>
                <p>- Thực hiện các công việc khác theo yêu cầu cấp trên.</p>
                <p><strong><u>Yêu cầu vị trí</u></strong></p>
                <p><strong><u>Quyền lợi</u></strong></p>
            </div>
        </div>
        <div>
            <h3
                class='job-name'
                data-bs-toggle='collapse'
                href='#collapseExample3'
                role='button'
                aria-expanded='false'
                aria-controls='collapseExample'
            >
                <span style='color: #034EA1;'>03</span>
                <span style='font-size: 18px;'>Senior Frontend Web & Mobile
                    Developer</span>
            </h3>
            <div class='card card-body collapse' id='collapseExample3'>
                <p><strong><u>Nhiệm vụ chính</u></strong></p>
                <p>- Quản lý dự án phát triển ứng dụng mobile trên cả 2 nền tảng
                    Android và iOS ;</p>
                <p>- Quản lý dự án phát triển ứng dụng web;</p>
                <p>- Hỗ trợ xây dựng kiến trúc hệ thống (thiết kế DB, quy trình
                    nghiệp vụ);</p>
                <p>- Hỗ trợ training nhân sự mới;</p>
                <p>- Thực hiện một số công việc khác theo yêu cầu của cấp trên.</p>
                <p><strong><u>Yêu cầu vị trí</u></strong></p>
                <p><strong><u>Quyền lợi</u></strong></p>
            </div>
        </div>
    </div>
</div>